.footer {
  padding: 32px 0;
  background-color: var(--color-grey-bg);

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: clamp(24px, 4.167vw, 32px);

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }
}








