.game {
  padding: clamp(80px, 10.938vw, 112px) 0;

  &__wrapp {
    display: grid;
    grid-template-columns: 1fr 246px;
    grid-gap: 64px;
  }

  &__information {
    display: flex;
    flex-direction: column;
    grid-gap: 48px;
  }

  &__banner {
    display: flex;

    picture,
    img {
      border-radius: 24px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;
  }

  &__rating {
    display: flex;
    align-items: center;
    grid-gap: 1px;
  }

  &__rating-btn {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    background-color: var(--color-grey-bg);
    padding: 12px;

    &.like {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    &.dislike {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}
