<header class="header">
  <a class="header__logo logo" href="/"><span>FNF</span>test</a>

  <div class="header__nav nav">
    <ul class="nav__menu">
      <li class="nav__menu-item">
        <a class="nav__menu-link active" href="/index.html">Popular</a>
      </li>

      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">News</a>
      </li>

      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">Mobile mods</a>
      </li>

      <li class="nav__menu-item extended">
        <span class="nav__menu-link">
          Download FNF

          <svg width='20' height='20'>
            <use href='img/sprite/sprite.svg#angle-down'></use>
          </svg>
        </span>

        <ul class="nav__menu-second">
          <li class="nav__second-item">
            <a href="/" class="nav__menu-link">FNF for Windows</a>
          </li>
          <li class="nav__second-item">
            <a href="/game.html" class="nav__menu-link">FNF for Linux</a>
          </li>
          <li class="nav__second-item">
            <a href="/publication.html" class="nav__menu-link">FNF for MacOS</a>
          </li>
          <li class="nav__second-item">
            <a href="#" class="nav__menu-link">FNF Mobile APK</a>
          </li>
        </ul>
      </li>

      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">Week 7</a>
      </li>

      <li class="nav__menu-item">
        <a href="#" class="nav__menu-link">HD mods</a>
      </li>
    </ul>
  </div>

  <div class="header__lang lang">
    <div class="lang__header">
      <div class="lang__current">
        <svg width='24' height='16'>
          <use href='img/sprite/sprite.svg#eng'></use>
        </svg>

        <span>English</span>
      </div>

      <svg class="lang__arrow" width='20' height='20'>
        <use href='img/sprite/sprite.svg#angle-down'></use>
      </svg>
    </div>

    <div class="lang__body">
      <ul class="lang__variants">
        <li class="lang__variants-item" data-choice='choosen'>
          <div class="lang__variant">
            <svg width='24' height='16'>
              <use href='img/sprite/sprite.svg#eng'></use>
            </svg>

            <span>English</span>
          </div>
        </li>
        <li class="lang__variants-item" data-choice='choosen'>
          <div class="lang__variant">
            <svg width='24' height='16'>
              <use href='img/sprite/sprite.svg#france'></use>
            </svg>

            <span>French</span>
          </div>
        </li>
        <li class="lang__variants-item" data-choice='choosen'>
          <div class="lang__variant">
            <svg width='24' height='16'>
              <use href='img/sprite/sprite.svg#south-korea'></use>
            </svg>

            <span>Korean</span>
          </div>
        </li>
        <li class="lang__variants-item" data-choice='choosen'>
          <div class="lang__variant">
            <svg width='24' height='16'>
              <use href='img/sprite/sprite.svg#spain'></use>
            </svg>

            <span>Spanish</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="mobile">
    <div class="mobile__menu"></div>
  </div>
</header>
