.nav {
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: clamp(15px, 2.581vw, 32px);

  @media screen and (max-width: 1024px) {
    grid-gap: 15px;
  }

  @media screen and (max-width: 992px) {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 22px;
  }

  &__item {
    position: relative;
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 4px;
  }
}






