:root {
  /* -- Fonts --*/
  --font-family-exo: "Exo2", sans-serif; // var(--font-family-exo);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #000; // var(--color-black);

  --color-main: #0B1626; // var(--color-main);
  --color-purple: #4C00ED; // var(--color-purple);
  --color-grey: #696F78; // var(--color-grey);
  --color-grey-bg: #F2F5F9; // var(--color-grey-bg);




}








