:root {
  /* -- Fonts --*/
  --font-family-exo: "Exo2", sans-serif; // var(--font-family-exo);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #0E151F; // var(--color-black);

  --color-main: #0B1626; // var(--color-main);
  --color-purple: #4C00ED; // var(--color-purple);
  --color-purple-hover: #4002C1; // var(--color-purple-hover);

  --color-grey: #696F78; // var(--color-grey);
  --color-grey-bg: #F2F5F9; // var(--color-grey-bg);
  --color-grey-text: #7C8085; // var(--color-grey-text);
  --color-nav: #7B7F85; // var(--color-nav);
  --color-grey-stroke: #D0D5DD; // var(--color-grey-stroke);
  --color-btn-hover: #DFE0E2; // var(--color-btn-hover);





}








